.banner {
  background-size: cover;
  background-position: center;
  padding: 0 0;
  height: 60%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 150px;
}

.ancer {
  position: absolute;
  bottom: 8px;
  left: 50%;
  font-size: 32px;
}

@media (max-width: 1020px) {
  #myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
