#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 150px;
}

.ancer {
  position: absolute;
  bottom: 8px;
  left: 50%;
  font-size: 32px;
}

/* Add some content at the bottom of the video/page */
// .content {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.5);
//   color: #f1f1f1;
//   width: 100%;
//   padding: 20px;
// }
