<div class="banner mb-5">
  <video autoplay muted loop id="myVideo">
    <source src="<%= image_path 'neon.mp4' %>" type="video/mp4">
  </video>
  <div class="container content">
    <a class="ancer" href="#ancer"><i class="fas fa-angle-down text-white"></i></a>
  </div>
</div>
